{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <!-- Fim das mensagens de erros -->
            <!-- Mensagens de erros -->
            {% if form.errors.pid %}
            <div class="card-panel red lighten-4 col s6 offset-s3">
                <ul>
                    {% for e in form.errors.pid %}
                    <li><span class="red-text text-darken-4">{{e}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <!-- Fim das mensagens de erros -->

            <!-- Inicio de mensagens de sucesso -->
            <div class="card-panel green lighten-4 col s6 offset-s3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li><span class="green-text text-darken-4">{{ message }}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <!-- Fim de mensagens de atenção -->

            <!-- Card do formulario de login -->
            <div class="col s8 offset-s2" style="margin-top:70px;">
                <h4><span class="brown-text">Adicionar Recurso</span></h4>
                <hr>
                <br>
                <form class="col s12" method="POST">
                        {{ form.csrf_token }}
                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.name }}
                            <label for="nome">Nome</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                                {{ form.url }}
                            <label for="url">URL</label>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light blue" type="submit">Adicionar
                        <i class="material-icons right">add</i>
                    </button>

                    <br><br>
                </form>
            </div>
            <!-- Fim do card do formulario de login -->

        </div>
    </div>
</div>

{% endblock %}