{% extends 'base.html' %}

{% block content %}
<nav>
    <div class="nav-wrapper brown darken-1">
        <ul class="left hide-on-med-and-down">
            <li><a href="{{ url_for('qos_config')}}">Configurar Filas</a></li>
            <li><a href="{{url_for('add_qos_regras')}}">Adicionar Regras</a></li>
            <li><a href="{{url_for('qos_docker_list')}}">QoS Host Docker</a></li>
            <li><a href="{{ url_for('qos_ovsdb')}}">OVSDB</a></li>
        </ul>
    </div>
</nav>
<!-- Fim sub menu -->


<!-- Inicio de container -->
<div class="container">
    <div class="section">
        <div class="row">
            <!-- Inicio de mensagens de sucesso -->
            <div class="card-panel green lighten-4 col s6 offset-s3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li><span class="green-text text-darken-4">{{ message }}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <!-- Fim de mensagens de atenção -->
            <!-- Inicio da div dispositivos -->
            <div class="col s10 offset-s1">
                <h3><span class="brown-text">QoS</span></h3>
                <hr>
                <!-- inicio da div Regras de QoS  -->
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center brown-text"><strong>Regras aplicadas em contêiner</strong></span>
                            <table>
                                <thead>
                                    <tr>
                                        <th>IP Host</th>
                                        <th>IP Contêiner</th>
                                        <th>Taxa</th>
                                        <th>Burst</th>
                                        <th>Latência</th>
                                        <th>Peakrate</th>
                                        <th>Minburst</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for rule in rules %}
                                    <tr>
                                        <td>{{rule.ip_host}}</td>
                                        <td>{{rule.ip}}</td>
                                        <td>{{rule.rate}}</td>
                                        <td>{{rule.burst}}</td>
                                        <td>{{rule.latency}}</td>
                                        <td>{{rule.peakrate}}</td>
                                        <td>{{rule.minburst}}</td>
                                        <td>
                                            <a href="{{ url_for('del_rule_docker', veth = rule.veth, ip_host = rule.ip_host)}}" class="waves-effect waves-light btn red right">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('qos_host_docker')}}" class="waves-effect waves-light btn blue left">
                    Adicionar <i class="material-icons right">add</i>
                </a>
                <!-- fim da div Regras  -->
            </div>
        </div>
    </div>
</div>
<!-- Fim de container -->
{% endblock %}