{% extends 'base.html' %}

{% block content %}
<!-- Sub menu -->
<nav>
    <div class="nav-wrapper brown darken-1">
        <ul class="left hide-on-med-and-down">
            <li><a href="{{ url_for('adicionar_dispositivo')}}">Adicionar Host Docker</a></li>
            <li><a href="{{ url_for('ver_tipos')}}">Ver tipos</a></li>
            <li><a href="{{ url_for('remover_dispositivo')}}">Remover dispositivo</a></li>
        </ul>
    </div>
</nav>
<!-- Fim sub menu -->

<!-- Inicio de container -->
<div class="container">
    <div class="section">
        <div class="row">
            <!-- Inicio da div dispositivos -->
            <div class="col s12">
                <h3><span class="brown-text">Dispositivos</span></h3>
                <hr>

                <!-- inicio da div do dispositivo  -->
                {% for device in devices %}
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            {% for tp in types %}
                            {% if tp.id == device.device_type_id %}
                            <img width="512" src="{{url_for('static', filename='img/components/' ~ tp.filename)}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-content">
                            <span class="card-title center brown-text"><strong>{{device.mac}}</strong></span>
                            <p>
                                <strong>DPID: </strong><span class="green-text">{{device.dpid}}</span> <br>
                                <strong>Interface: </strong><span class="brown-text">{{device.interface}}</span> <br>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- fim da div do dispositivo  -->
            </div>
            <div class="col s12">
                <h3><span class="brown-text">Hosts Docker</span></h3>
                <hr>

                <!-- inicio da div do hosts Docker  -->
                {% for host in hosts %}
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            {% for tp in types %}
                            {% if tp.id == host.device_type_id %}
                            <img width="512" src="{{url_for('static', filename='img/components/' ~ tp.filename)}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-content">
                            <span class="card-title center brown-text"><strong>{{host.name}}</strong></span>
                            <p>
                                <strong>IP: </strong><span class="brown-text">{{host.ip}}</span> <br>
                                <strong>Bridge: </strong><span class="brown-text">{{host.bridge_docker}}</span> <br>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- fim da div do hosts Docker   -->


            </div>
            <!-- Fim da div dispositivos -->
        </div>
    </div>
</div>
<!-- Fim de container -->
{% endblock %}