{% extends 'base.html' %}
{% block refresh %}
<meta http-equiv="refresh" content="30;">
{% endblock %}
{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                {% for data in datas %}
                <div class="card-panel">
                    <h4><span class="brown-text">Gŕafico de {{data}}</span></h4>
                    <canvas id="{{data}}" width="50" height="20"></canvas>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

{% for data in datas %}

<script>
    var ctx = document.getElementById("{{data}}");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["1 min", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15"],
            datasets: [{
                    data: {{ datas[data]['RX']}},
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#79c956',
                    borderWidth: 4,
                    pointBackgroundColor: '#79c956',
                    label: "RX"
                },
                {
                    data: {{ datas[data]['TX']}},
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#4eb4e0',
                    borderWidth: 4,
                    pointBackgroundColor: '#4eb4e0',
                    label: "TX"
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: true,
            }
        }
    });
</script>
{% endfor %}

{% endblock %}