{% extends 'base.html'%}

{% block content %}


<style>
    #mynetwork{
    border: 2px solid black;
    border-radius: 5px;
    height:500px;
    background-color: #efeded;
}
</style>


<div class="container">
    <div class="section">
        <div class="row">
            <h3><span class="brown-text">Topologia da rede</span></h3>
            <div class="" id="mynetwork"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var color = 'gray';
    var len = undefined;

    var nodes = [
        {% for node in nodes %}
        {
            id: "{{node['id']}}",
            label: "{{node['label']}}",
            group: 0
        },
        {% endfor %}
    ]
    var edges = [
        {% for edge in edges %}
        {
            from: "{{edge['from']}}",
            to: "{{edge['to']}}", 
            shadow:{color:'rgb(0,255,0)'},
            length: 300
        },
        {% endfor %}
        
    ]

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 20,
                color: '#000'
            },
            borderWidth: 2,
            shadow:true
        },
        edges: {
            width: 2
        }
    };
    network = new vis.Network(container, data, options);
    
</script>

{% endblock %}